<!DOCTYPE html>
{% extends 'products\base.html' %} {%block content%} {% load static %}
<link rel="stylesheet" href="{% static 'css\styles.css' %}" />
<link rel="stylesheet" href="{% static 'css\bagview.css' %}" />

<script
  src="https://kit.fontawesome.com/7c97071ea6.js"
  crossorigin="anonymous"
></script>
<div class="row">
  {% for i in bags %}
  <div class="col">
    <div class="card" style="width: 18rem; height: 30rem">
      <img
        src="{{ i.product_image.url }}"
        class="card-img-top"
        style="height: 70%"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">{{ i.title }}</h5>

        <p class="card-text">
          price: {{i.price}}
          <a href="#" class="btn">Add to Cart</a>
        </p>
        <p class="card-text" id="socials">
          <i class="fa-solid fa-cart-shopping"></i>
          <i class="fa-regular fa-heart"></i>
          <i class="fa-regular fa-bookmark"></i>
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
