*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
body{
    position: relative;
    margin: 0;
    min-height: 100vh;
    line-height: 1.5;
    padding-bottom:  6.5rem ;
    box-sizing: inherit;
}
.container-fluid {
padding-bottom: 2.5rem;
}

.container-fluid .top_nav{
    width: 100%;
    height: 100px;
    background: rgb(13, 4, 4);
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-fluid .top_nav .left{
    display: flex;
    align-items: center;
}
.container-fluid .top_nav .left .searchbar{
    margin-right: 25px;
    padding-left: 0px;

}
.container-fluid .top_nav .left .searchbar .btn1{
    background-color: rgb(194, 199, 247);
    text-decoration-color: aliceblue;
}

.container-fluid .top_nav .center{
display: flex;
align-items:center;
margin-top: 0px;
top: 0;
}
.container-fluid .top_nav .center .nav-logo{
    margin: auto;
    width: 60px;
    height: 55px;
    top: 0;
    padding-bottom: 100px;

    
}

.container-fluid .top_nav .center .nav-logo .img{
    border: none;
    border-radius: 50%;
    height: 65px;
}




.container-fluid .top_nav .right ul{
    display: flex;
}
.container-fluid .top_nav .right ul li{
    margin: 0 12px;
}
.container-fluid .top_nav .right ul li a{
    color: aliceblue;
}

.container-fluid .bottom_nav{
    width: 100%;
    background-image: linear-gradient(to right, rgb(58, 37, 218),rgb(185, 198, 203));
    height: 45px;
    padding: 0 50px;
}
.container-fluid .bottom_nav ul{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.container-fluid .bottom_nav ul li a{
    color: aliceblue;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;

}

/*FOOTER COMPONENT */

.footer .container{
	max-width: 1170px;
	margin:auto;
    height: 2.5rem;
   
}

.footer .row{
	display: flex;
	flex-wrap: wrap;
}
.footer ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
    position:absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2.5rem;
   
   
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer .footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
    
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
    




/*

body{
    min-height: 100vh;
    background-color: pink;
    color: aliceblue;
    overflow: hidden;
}
header{
    display: flex;
    height: 100px;
    position: fixed;
    width: 100vw;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 8px rgba(0,0,0, 25%);
    
}
header.container-fluid{
    
    width: 100%;
    padding:0 60px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    text-align: center;
}
.nav-logo {
    display:block;
    
    width: 40px;
    height: 40px;
    margin: auto;
    text-align: justify;
   
    
    
    
}
.nav-items{
    
    text-align: center;
    margin-left: auto;
    margin-top: auto;
    float: right;
    display:flex;
    align-items: center;
    justify-content:center ;
    vertical-align: middle;
}
.item{
    align-items: center;
    display: flex;
    gap: 1em;
    text-align: center;
    margin: inline 20%;
    font-size: 20px;
    letter-spacing: 3px;
    padding: 0.5px 10px;
    vertical-align: middle;
    padding-top: 0.5px;
    padding-bottom: 10px;
    
}
.item a{
    float: right;
    display: block;
    color: blueviolet;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 15px;
}
.searchbar{
    width: 330px;
    float: left;
    margin-left: 0px;
    margin-top: 30px;
    
}
.navbar navbar-expand-lg bg-body-tertiary{
   margin-top: 100px; 
}
.navbar-nav{
    margin-top: 100px;

}
.nav-item{
    color: blue;
}

*/
